alembic
bcrypt
fasteners
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-RESTful
Flask-SocketIO
Flask-SQLAlchemy
importlib_metadata
importlib_resources
ipdb
ipython
itsdangerous
jedi
Jinja2
keyring
Mako
MarkupSafe
matplotlib-inline
oauthlib
packaging
paramiko
pexpect
pillow
pipenv
platformdirs
pluggy
prompt_toolkit
protobuf
psycopg2-binary
pure_eval
pydub
pygame
PyJWT
python-dotenv
python-engineio
python-socketio
pyttsx3
pytz
requests
selenium
simple-websocket
six
sounddevice
SpeechRecognition
SQLAlchemy
SQLAlchemy-serializer
srt
stack-data
testresources
tqdm
traitlets
trio
trio-websocket
typing_extensions
urllib3
virtualenv
virtualenv-clone
vosk
wcwidth
websocket-client
websockets
Werkzeug
wikipedia
Wikipedia-API
wsproto
zipp
gunicorn